#! Spring Jackson
---
spring:
  jackson:
    property_naming_strategy: SNAKE_CASE

#! Spring Cache
---
spring:
  cache:
    cache_names: listAttributes, listCollectionNames, listCollectionNamesByPrefix
    caffeine:
      spec: expireAfterWrite=1m

#! Spring MongoClient
---
spring:
  data:
    mongodb:
      uri: ${mongo.uri}
      database: ${mongo.db}

#! Server
server:
  port: 8080
  servlet:
    context_path: /api

#! Security
security:
  enabled: false
#  grafana:
#    url: http://127.0.0.1/grafana/api/user

#! Mongo
mongo:
  uri: mongodb://127.0.0.1:27017
  db: sip3
  max_execution_time: 10000
  batch-size: 128

#! Application
time_suffix: yyyyMMdd
session:
  default_limit: 50
  use_x_correlation_header: true
  show_retransmits: true
  ignore_nanos: true
  call:
    max_legs: 10
    aggregation_timeout: 60000
    termination_timeout: 10000
  register:
    max_legs: 10
    aggregation_timeout: 10000
    duration_timeout: 900000
  media:
    block_count: 28
    termination_timeout: 60000

cache:
  refresh_rate: 55000

springdoc:
  swagger_ui:
    path: /swagger-ui/